<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnup.osmp.jiance.repository.mapper.JcOpEvaluateConfigMapper">
	<resultMap id="BaseResultMap" type="com.hnup.osmp.jiance.repository.entity.JcOpEvaluateConfig">
            <result column="key_type_code" property="keyTypeCode" />
	        <result column="redirect_address" property="redirectAddress" />
	        <result column="main_hand_phase" property="mainHandPhase" />
	        <result column="out_license_phase" property="outLicensePhase" />
	        <result column="modify_confirm_phase" property="modifyConfirmPhase" />
	        <result column="check_phase" property="checkPhase" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="BaseColumns">
         t1.key_type_code,
         t1.redirect_address,
         t1.main_hand_phase,
         t1.out_license_phase,
         t1.modify_confirm_phase,
         t1.check_phase,
        </sql>
	<select id="getTableCount"  resultType="java.lang.Integer" >
		${sql}
	</select>

	<select id="getCertificateCount"  resultType="java.lang.Integer" >
			select count(1) from BPM_DATA_WORK_RECORD aa
			inner join op_entity  bb on aa.PROC_INS_ID = bb.PROC_INS_ID
			where bb.key_dig_num_gather=#{businessKey} and aa.cur_task_def_key=#{phase}
	</select>



</mapper>